@import url("global.css");

/* Formata os checkbox */
.categories li input {
    /* Remove aparência padrão do input*/
    appearance: none;
    -webkit-apperance: none;
    -noz-apperance: none;

    /* Define o tamanho do input */
    width: 2rem;
    height: 2rem;

    /* Define bg */
    background-color: var(--light-100);


    /* Add borda */
    border: 0.1rem solid var(--dark-30);

    /* Insere sombra */
    /* box-shadow: 0 0 0.5rem #aac5c6; */

    /* Margem à direita dos inputs */
    margin-right: .5rem;

    /* Add transição */
    transition: .2s all ease-in-out;
    cursor: pointer;
}

.categories ul input:checked {
    border: .4rem solid var(--dark-30);
    background-color: var(--light-100);

}



/* Formata os radios */
div#radio input {
    /* Remove aparência padrão do input*/
    appearance: none;
    -webkit-apperance: none;
    -noz-apperance: none;

    /* Define o tamanho do input */
    width: 2.7rem;
    height: 2.7rem;

    /* Define bg */
    background-color: #344056;


    /* Add borda */
    border: 0.1rem solid rgba(2, 228, 231, 0.8);

    /* Deixa as bordas redondas */
    border-radius: 50%;

    /* Insere sombra */
    box-shadow: 0 0 0.5rem #aac5c6;


    /* Margem à direita dos inputs */
    margin-right: 10px;

    position: relative;
    top: 4px;

    /* Add transição */
    transition: .2s all ease-in-out;
    cursor: pointer;
}

div#radio input:checked {
    border: 0.7vw solid #344056;
    background-color: #08BEC7;

}


