@import url("global.css");

main {
    padding: 1rem 2rem;
    margin: 4rem 0;
}

h1 {
    color: var(--dark-30);
    font-size: 3.2rem;
    text-align: center;
    margin-bottom: 3rem;
}


main form {
   text-align: center;
}


/* Deixa os inputs centralizados e com tamanho máx do conteúdo (flexível) */
form .input-area {
    width: max-content;
    margin: auto;
    position: relative;

    color: var(--dark-20);
    font-weight: bold;
    margin-bottom: 2rem;
}

.input-area label {
    display: block;
    margin-bottom: .5rem;
    text-align: justify;
}

.input-area input {
    width: 35rem;
    color: var(--dark-30);
    font-size: 1.6rem;
    padding: .5rem 1rem;
    border: .1rem solid var(--dark-20);
    outline: none;
    border-radius: .5rem;
}

form button {  
    width: 35rem;
    background-color: var(--dark-10);
    color: var(--blue);
    font-weight: bold;
    font-size: 1.6rem;
    border: 0;
    border-radius: 1rem;
    padding: .5rem 1rem;

    cursor: pointer;
    transition: all .2s ease-in-out;
}


form button:hover {  
    background-color: var(--blue);
    color: var(--light-100);
}




/* Responsividade */
@media (max-width: 426px) {

    main {
        padding: .5rem;
    }

    .input-area input, form button  {
        max-width: 20rem;
    }

}